.main {
  min-height: 100%;
}

.main h1,
h2,
h3 {
  font-family: "Playfair Display";
  font-weight: 500;
}

/* Increase title size on computers */
@media only screen and (min-width: 875px) {
  .main h1 {
    font-size: 2.75em;
  }
}

.main h2 {
  font-size: 1.75em;
}

.main p,
li {
  font-size: 1.2em;
  font-family: "Lora";
}

/* Light mode! */
.main-light {
  color: #222;
  background: #f9f9f9;
}

.main-light a {
  color: #0366fc;
}

/* Dark mode! */
.main-dark {
  color: #eee;
  background: #121212;
}

.main-dark a {
  color: #9ec4ff;
}

.content-wrapper {
  padding: 1em;
  display: flex;
  flex-direction: column;
  lign-items: center;
  max-width: 900px;
  margin: 0 auto;
}
