---
import type { CollectionEntry } from "astro:content";
export async function getStaticPaths() {
  const tags = ["astro", "javascript", "typescript"].map((tag) => ({
    params: { tag },
  }));
  const allPosts = await Astro.glob("../../content/blog/*.md");
  return tags.map((value) => ({
    ...value,
    props: {
      posts: allPosts.filter((post) =>
        post.frontmatter.tags?.includes(value.params.tag)
      ),
    },
  }));
}

const { tag } = Astro.params;
const { posts } = Astro.props;
type Post = {
  frontmatter: CollectionEntry<"blog">["data"];
};
---

<ul>
  {
    posts.map((post: Post) => (
      <li>
        <div>{post.frontmatter.title}</div>
      </li>
    ))
  }
</ul>
<p>Posts tagged with {tag}</p>
