---
import Layout from "../layouts/Layout.astro";
---

<Layout title="about">
  <div class="mt-4 px-4 flex flex-col gap-4">
    <h1 class="mb-4">Hello!</h1>
    <p>
      You're probably looking for the <a href="/">software blog</a>.
    </p>
    <h2 class="mt-4">What is this site?</h2>
    <p>
      This blog is intended to serve as a resource for other developers using
      Go, Vue/React, GraphQL, Kubernetes, and much more. It's built primarily
      with Astro, Tailwind, Github Actions, and Terraform. Please make a pull
      request if you want to fix a bug or suggest a feature. The{" "}
      <a href="https://github.com/harrisoncramer/harrisoncramer.me">
        repository
      </a>{" "}
      is on Github.
    </p>
    <h2 class="mt-4">About me</h2>
    <p>
      My name is Harrison, and I'm a software engineer living in Brooklyn. Prior
      to my career in software, I was a reporter in Washington, where I covered
      foreign policy and the military. My resume can be found <a
        href="https://hjc-public.s3.amazonaws.com/cramer_resume.pdf">here</a
      >.
    </p>
  </div>
</Layout>
