---
import Layout from "../layouts/Layout.astro";
---

<Layout title="about">
  <div class="mt-4 px-4 flex flex-col gap-4">
    <h1 class="text-3xl">About me</h1>
    <p>
      My name is Harrison Cramer, and I'm a full-stack developer living in
      Brooklyn. Prior to my career in software, I was a reporter in Washington,
      where I covered foreign policy and the military.
    </p>
    <p>
      I'm also happy to <a href="/contact">connect</a> to talk about software, politics,
      or anything else that's on your mind. I'm always looking for new architectures
      and workflows to write about. Happy coding!
    </p>
  </div>
</Layout>
