---
import Layout from "../layouts/Layout.astro";
---

<Layout title="about">
  <div class="mt-4 px-4 flex flex-col gap-4">
    <h1 class="text-3xl">About me</h1>
    <p>
      My name is Harrison Cramer, and I'm a full-stack developer living in
      Brooklyn. Prior to my career in software, I was a reporter in Washington,
      where I covered foreign policy and the military.
    </p>
  </div>
</Layout>
