---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title={"Contact page"}
  description={"The best way to contact me, Harrison Cramer"}
>
  <h1>Contact</h1>
  <div>
    <p>
      Twitter:{" "}
      <a aria-label="Twitter" href="https://twitter.com/harrisoncramer"
        >@harrisoncramer</a
      >
    </p>
  </div>
  <div>
    <p>
      Github: <a aria-label="Github" href="https://github.com/harrisoncramer"
        >harrisoncramer</a
      >
    </p>
  </div>
  <div>
    <p data-tip data-for="signal-tip">Signal: 510-698-1166</p>
  </div>
</Layout>
<style>
  p {
    margin: 0.25em;
    display: inline-block;
  }
</style>
