---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title={"Contact page"}
  description={"The best way to contact me, Harrison Cramer"}
>
  <h1>Contact</h1>
  <p>
    Please direct any professional inquiries to my LinkedIn account.<p>
      <p class="mb-8">
        I'm always looking for interesting projects to work on, particularly in
        the open source community. If you think I could be a good fit for your
        team, please don't hesitate to reach out.
      </p>
      <p>
        LinkedIn:{" "}
        <a aria-label="LinkedIn" href="https://linkedin.com/in/harrison-cramer"
          >harrison-cramer</a
        >
      </p>
      <p>
        Github: <a aria-label="Github" href="https://github.com/harrisoncramer"
          >harrisoncramer</a
        >
      </p>
      <p>
        Twitter:{" "}
        <a aria-label="Twitter" href="https://twitter.com/harrisoncramer"
          >@harrisoncramer</a
        >
      </p>
      <p>
        Reddit:{" "}
        <a aria-label="Reddit" href="https://www.reddit.com/user/KingOfCramers/"
          >KingOfCramers</a
        >
      </p>
    </p>
    <style>
      p {
        margin: 0.25em;
        display: inline-block;
      }
    </style>
  </p>
</Layout>
