---
import Layout from "../layouts/Layout.astro";
// import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Layout>
  <main>
    <section>
      <ul>
        {
          posts.map((post) => (
            <li>
              <a href={`/${post.slug}`}>{post.data.title}</a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
