---
import { Icon } from "astro-icon";
const { title } = Astro.props;
---

<div class="code-block">
  <div class="title-info">
    <div class="bg-app-black">{title}</div>
    <div class="w-4">
      <Icon class="content-copy" pack="mdi" name="content-copy" />
    </div>
  </div>
  <div class="content-slot">
    <slot />
  </div>
</div>

<style>
  .code-block {
    @apply pt-2 bg-app-black;
  }

  pre.astro-code {
    @apply bg-app-black text-lg;
  }
  .code-block .title-info {
    @apply flex items-center justify-end gap-2 mr-4 text-right text-app-gray font-sans;
  }

  .code-block .title-info:hover {
    @apply text-app-white cursor-pointer;
  }
</style>
