---
const { filename } = Astro.props
---

<div class="code-block">
    <div class="title-info">
        <div class="bg-app-black">{filename}</div>
        <span>Copy</span>
    </div>
    <slot />
</div>

<style>
.code-block {
    @apply pt-2 bg-app-black;
}
.code-block .title-info {
    @apply flex items-center justify-end gap-2 mr-4 text-right text-app-gray font-sans;
}
</style>
