---
import { Icon } from "astro-icon";
const { filename } = Astro.props;
---

<div class="code-block">
  <div class="title-info">
    <div class="bg-app-black">{filename}</div>
    <div class="w-4">
      <Icon class="content-copy" pack="mdi" name="content-copy" />
    </div>
  </div>
  <div class="content-slot">
    <slot />
  </div>
</div>

<style>
  .code-block {
    @apply pt-2 bg-app-black;
  }
  .code-block .title-info {
    @apply flex items-center justify-end gap-2 mr-4 text-right text-app-gray font-sans;
  }
  .content-copy {
    @apply cursor-pointer;
  }
</style>

<script is:inline>
  const copier = document.querySelector(".content-copy");
  copier.addEventListener("click", () => {
    const content = document.querySelector(".content-slot").innerText;
    navigator.clipboard.writeText(content);
  });
</script>
